sphinx==3.4.3
sphinx_rtd_theme==0.5.1
jinja2==3.0.3
docutils==0.16
networkx>=2.5
biopython>=1.78
click<=7.1
pytest>=6.2
pytest-cov>=2.10
sqlalchemy>=1.4,<2
networkx>=2.5
decorator>=4.4
requests>=2.23
pandas>=1.2
numpy>=1.20
beautifulsoup4>=4.9
questionary>=1.9
setuptools>=44.0
alembic>=1.6
